body {
    height: 100%;
    background-repeat: repeat;
    background-size: auto;
}

img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

hr.solid {
    border-top: 1px solid white;
}
.card {
    color: #ffffff;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.forSpacing {
    padding-bottom: 100px;
}